.content {
  position: fixed;
  top: 88px;
  left: 4px;
  width: 98%;
  border: 2px solid black;
  height: calc(100% - 120px - 38px);
}

.wrap {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  padding: 20px 40px 20px;
  margin-left:  30%;
  margin-right: 30%;
  height: calc(100% - 41px);
}

@media screen and (max-width: 1100px){
  .content {
    width: 98%;
  }

  .wrap{
    margin-left: clamp(5px, 10vw, 5%);
    margin-right: clamp(5px, 10vw, 5%);
  }
}

@media  screen and (max-width: 430px) {
  .wrap{
    margin-left: 0px;
  }
}
